@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* cambio */
#ft ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
/* cambio */

#ft {
  height: 298px;
  padding: 49px 20px 30px;
  background: #566263;
}
.ft__wrapper {
  display: grid;
  grid-template-columns: 395px 340px 350px;
  max-width: 1071px;
  margin: 0 auto;
  width: 95%;
}
.ft__text {
  color: #bfd1cb;
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 6px;
  padding: 5px 0;
  display: block;
  text-decoration: none;
}

/* cambio */
.ft__text:hover {
  color: #bfd1cb;
  text-decoration: none;
}
/* cambio */

.ft__text a {
  text-decoration: none;
  color: #bfd1cb;
  margin-left: 5px;
}
.ft__bold {
  font-weight: bold;
}

/* ===================== */
/* ===================== */
/* ft__column-one */
/* ===================== */
#ft__logo {
  width: 100%;
  max-width: 270px;
}
.ft__social {
  width: 100%;
  max-width: 270px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  left: -3px;
  margin-top: 25px;
}
/* cambio */
.ft__social-icon {
  width: 25px;
  height: 25px;
  display: block;
  color: #ffffff;
  border-radius: 50%;
  background-color: #b09245;
  text-decoration: none;
  text-align: center;
  padding: 4px;
  font-size: 13px;
  line-height: 1.5;
}
/* cambio */

.ft__social-img,
.ft__social-img img {
  display: block;
  width: 28px;
  height: 28px;
}

/* ===================== */
/* ===================== */
/* ft__column-two */
/* ===================== */
.ft__column-two {
  list-style: none;
  position: relative;
  top: -2px;
}
.ft__column-two li {
  margin-bottom: 15.5px;
}

/* ===================== */
/* ===================== */
/* ft__column-two */
/* ===================== */
.ft__column-three {
  position: relative;
  top: -9px;
}
.ft__column-three .ft__text {
  line-height: 25px;
  margin-bottom: 0;
  padding: 0;
}
.ft__column-three .ft__text:first-child {
  width: 200px;
  margin-bottom: 29px;
}
.ft__column-three .ft__text:last-child {
  margin-top: 10px;
}
.ft__column-three .ft__text:last-child a {
  margin: 0;
}
.ft__column-three .ft__text:first-child span {
  display: block;
}

/* cambio */
@media screen and (max-width: 1160px) {
  #ft {
    height: auto !important;
    padding: 49px 20px 30px;
    background: #566263;
  }
  .ft__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ===================== */
  /* ===================== */
  /* ft__column-two */
  /* ===================== */
  .ft__column-two {
    padding-inline-start: 30px !important;
  }
}
/* cambio */

@media screen and (max-width: 767px) {
  /* cambio */
  #ft {
    height: auto !important;
    padding: 49px 20px 30px;
    background: #566263;
  }
  .ft__wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 100%;
  }
  .ft__text a {
    margin-left: 0;
  }
  /* cambio */

  .ft__bold {
    display: block;
  }

  /* ===================== */
  /* ===================== */
  /* ft__column-one */
  /* ===================== */
  .ft__column-one {
    text-align: center;
  }
  #ft__logo {
    max-width: 470px;
  }
  .ft__social {
    margin: auto;
    left: 0;
    margin-top: 30px;
  }

  /* ===================== */
  /* ===================== */
  /* ft__column-two */
  /* ===================== */
  .ft__column-two {
    position: initial;
    padding-inline-start: 0 !important;
  }

  /* ===================== */
  /* ===================== */
  /* ft__column-two */
  /* ===================== */
  .ft__column-three {
    padding-left: 0;
  }

  /* cambio */
  .ft__column-three .ft__text:first-child {
    width: auto;
  }
  /* cambio */
}
