body {
  background-color: bisque;
}
/* ====================== */
/* ====================== */
/* Header */
/* ====================== */
#hd {
  background: #ffffff;
}
#hd .hd__main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 102px;
}

/* ====================== */
/* ====================== */
/* Header BTN Menu*/
/* ====================== */
#hd__btnMenu {
  display: flex;
  align-items: baseline;
  margin-left: 46px;
  cursor: pointer;
}
.hd__btnMenu-iconWrapper {
  height: 36px;
  padding-top: 0.5px;
}
.hd__btnMenu-iconWrapper svg {
  width: 25px;
  height: 24px;
}
.hd__btnMenu-text {
  color: #566263;
  padding-left: 22px;
  font-family: "Bell MT", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 33px;
}

/* ====================== */
/* ====================== */
/* Header Logo*/
/* ====================== */
#hd__logo {
  width: 266px;
  height: 52px;
  margin-left: 132px;
}

/* ====================== */
/* ====================== */
/* Header Contact*/
/* ====================== */
.hd__contact {
  display: flex;
  align-items: baseline;
  padding-right: 17px;
}
.hd__contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hd__contact .hd__contact-item:last-child {
  margin-left: 33px;
}
.hd__contact-text {
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #566263;
  text-decoration: none;
}
.hd__contact-icon {
  height: 40px;
}
.hd__contact-icon * {
  width: 32px;
  height: 32px;
}

/* ====================== */
/* ====================== */
/* Header Menu*/
/* ====================== */
.hd__OpenMenu {
  display: block !important;
}
.hd__OpenMenu > .hd__menu-main {
  animation-name: AnimationOpen !important;
  animation-duration: 1.2s;
}
@keyframes AnimationOpen {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

#hd__menu {
  background-color: #566263;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  display: none;
}
.hd__menu-btnConatiner {
  background: #ffffff;
  height: 106px;
  position: relative;
}
#hd__menu-btn {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 40px;
  cursor: pointer;
}
.hd__menu-text {
  color: #566263;
  font-family: "Bell MT", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 14px;
}

.hd__menu-main {
  list-style: none;
  padding: 20px 0 20px 10px;
}

.hd__menu-itemTitle {
  display: block;
  font-family: "Bell MT", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #bfd1cb;
  text-decoration: none;
}
.hd__subMenu {
  display: none;
  list-style: none;
}
.hd__subMenu-item {
  font-family: "Bell MT", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1;
  color: #bfd1cb;
  text-decoration: none;
  padding-left: 35px !important;
  background: url(http://copperbuilddev.wpengine.com/wp-content/uploads/2020/12/flecha-apunta-a-la-derecha.png);
  background-repeat: no-repeat;
  vertical-align: central;
  background-position: left;
  position: relative;
}
.hd__menu-itemTitle,
.hd__subMenu-item {
  padding: 15px;
  display: block;
}
.hd__subMenu-item:hover,
.hd__menu-itemTitle:hover {
  background-color: #657879;
}
.hd__menu-itemTitle i {
  font-size: 14px;
}
.hd__hover {
  background-color: #657879;
}
.hd__hover i {
  transform: rotateZ(-180deg);
}
.hd__menu-itenIcon {
  display: block;
  color: #bfd1cb;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 1025px) {
  /* ====================== */
  /* ====================== */
  /* Header Logo*/
  /* ====================== */
  #hd__logo {
    margin-left: 50px;
  }
  /* ====================== */
  /* ====================== */
  /* Header BTN Menu*/
  /* ====================== */
  #hd__btnMenu {
    margin-left: 0;
  }

  /* ====================== */
  /* ====================== */
  /* Header Contact*/
  /* ====================== */
  .hd__contact-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  /* ====================== */
  /* ====================== */
  /* Header */
  /* ====================== */
  #hd .hd__wrapper {
    height: 53px;
  }

  /* ====================== */
  /* ====================== */
  /* Header Logo*/
  /* ====================== */
  #hd__logo {
    width: 100px;
    height: 30px;
    margin-left: 100px;
  }
  /* ====================== */
  /* ====================== */
  /* Header BTN Menu*/
  /* ====================== */
  #hd__btnMenu {
    margin-left: 0;
  }
  .hd__btnMenu-text {
    font-size: 15px;
  }
  .hd__btnMenu-iconWrapper svg {
    width: 20px;
    height: 24px;
  }

  /* ====================== */
  /* ====================== */
  /* Header Contact*/
  /* ====================== */
  .hd__contact-text {
    display: none;
  }
  .hd__contact-icon {
    height: auto;
    margin: 0 40px;
  }
  .hd__contact-icon * {
    width: 18px;
    height: 18px;
  }
  .hd__contact .hd__contact-item:last-child .hd__contact-icon * {
    width: 22px;
    height: 22px;
  }

  /* ====================== */
  /* ====================== */
  /* Header Menu*/
  /* ====================== */
  #hd__menu {
    width: 360px;
  }
}

@media screen and (max-width: 660px) {
  /* ====================== */
  /* ====================== */
  /* Header Logo*/
  /* ====================== */
  #hd__logo {
    margin-left: 50px;
  }

  /* ====================== */
  /* ====================== */
  /* Header Contact*/
  /* ====================== */
  .hd__contact-icon {
    margin: 0 20px;
  }
}

@media screen and (max-width: 460px) {
  #hd__btnMenu {
    margin-left: 12px;
  }
  /* ====================== */
  /* ====================== */
  /* Header Logo*/
  /* ====================== */
  #hd__logo {
    margin-left: 0;
  }

  /* ====================== */
  /* ====================== */
  /* Header Contact*/
  /* ====================== */
  .hd__contact {
    margin-left: 15px;
  }
  .hd__contact-icon {
    margin: 0;
  }
  .hd__contact .hd__contact-item:last-child {
    margin-left: 20px;
  }
  /* ====================== */
  /* ====================== */
  /* Header Menu*/
  /* ====================== */
  #hd__menu {
    width: 100%;
  }
}
